      <div class="cs-page" data-cs>
        <section class="cs-header">
          <div class="padding-global top-medium bottom-medium">
            <div class="container-large">
              <div class="cs-header-inner">
                <div class="cs-header-content">
                  <span class="label cs-client">{{client}}</span>
                  <h1 class="cs-title">{{title}}</h1>
                  <p class="cs-synopsis">{{synopsis}}</p>
                  {{servicesBlock}}
                </div>
                {{infoToggle}}
              </div>
            </div>
          </div>
        </section>
        <div class="cs-body">
          <div class="cs-visuals">
{{visualsBody}}
          </div>
          <div class="cs-content">
            <div class="cs-content-inner">
{{infoBody}}
            </div>
          </div>
        </div>
        {{fixedToggle}}
      </div>
