      <div class="case-study-wrapper" data-case-study>
        <section class="case-study-header">
          <div class="padding-global top-medium bottom-medium">
            <div class="container-large">
              <div class="case-study-header-inner">
                <div class="case-study-header-content">
                  <span class="label case-study-client">{{client}}</span>
                  <h1 class="case-study-title">{{title}}</h1>
                  <p class="case-study-synopsis">{{synopsis}}</p>
                  {{servicesBlock}}
                </div>
                {{infoToggle}}
              </div>
            </div>
          </div>
        </section>
        <section class="case-study-body">
          <div class="case-study-visuals">
{{visualsBody}}
          </div>
          <div class="case-study-content">
            <div class="case-study-content-inner">
{{infoBody}}
            </div>
          </div>
        </section>
        <section class="case-study-slider" data-case-study-slider>
          <div class="splide case-study-splide">
            <div class="case-study-slider-header padding-global">
              <h2 class="case-study-slider-title">More Work</h2>
              <div class="splide__arrows">
                <button class="button case-study-arrow splide__arrow--prev" data-variant="faded" data-icon-only type="button" aria-label="Previous slide">
                  <div class="svg-icn"><svg data-icon="arrow-left" aria-hidden="true" width="100%" height="100%" viewBox="0 0 24 24" fill="none"><path d="M10.2392 13C9.34831 13 8.90214 14.0771 9.53211 14.7071L13.425 18.6L12 20L4 12L12 4L13.425 5.4L9.53211 9.29289C8.90214 9.92286 9.34831 11 10.2392 11H20V13H10.2392Z" fill="currentColor"/></svg></div>
                </button>
                <button class="button case-study-arrow splide__arrow--next" data-variant="faded" data-icon-only type="button" aria-label="Next slide">
                  <div class="svg-icn"><svg data-icon="arrow-right" aria-hidden="true" width="100%" height="100%" viewBox="0 0 24 24" fill="none"><path d="M14.4679 14.7071C15.0979 14.0771 14.6517 13 13.7608 13H4V11H13.7608C14.6517 11 15.0979 9.92286 14.4679 9.29289L10.575 5.4L12 4L20 12L12 20L10.575 18.6L14.4679 14.7071Z" fill="currentColor"/></svg></div>
                </button>
              </div>
            </div>
            <div class="splide__track case-study-track">
              <div class="splide__list case-study-list" data-case-study-slides></div>
            </div>
          </div>
        </section>
      </div>
